<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>酒店管理端</title>
</head>
<body>
    账户信息：{{user}}
    <ul>
        <li><a href="/admin/orderinfo">订单信息</a></li>
        <li><a href="/admin/guestinfo">客户信息</a></li>
        <li><a href="/admin/roominfo">房间信息</a></li>
        <li><a href="/admin/userinfo">账户信息</a></li>
    </ul>
</body>
</html>