{% extends "admin.html" %}

{% block  title_block %}
<title>资讯列表 - 资讯管理 - H-ui.admin v3.0</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
{% endblock %}

{% block  body_block %}
<section class="Hui-article-box" id="main_box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		资讯管理
		<span class="c-gray en">&gt;</span>
		资讯列表
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
			href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">

			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
					<!-- <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i
							class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> -->
					<!-- <a class="btn btn-primary radius" data-title="添加资讯" _href="article-add.html"
						onclick="article_add('添加资讯','article-add.html')" href="javascript:;"><i
							class="Hui-iconfont">&#xe600;</i> 添加资讯</a> -->
				</span>
				<!-- <span class="r">共有数据：<strong>54</strong> 条</span> -->
			</div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-bg table-hover table-sort">
					<thead>
						<tr class="text-c">
							<th width="80">ID</th>
							<th>姓名</th>
							<th width="80">性别</th>
							<th width="120">证件号</th>
							<th width="120">电话</th>
							<th width="120">健身房</th>
							<th width="120">餐厅</th>
							<th width="120">vip</th>
							<th width="120">操作</th>
						</tr>
					</thead>
					<tbody id="text_main">
						
					</tbody>
				</table>
			</div>
		</article>
	</div>
</section>

{% endblock %}



<!--请在下方写此页面业务相关的脚本-->
{% block js_block %}
<script type="text/javascript" src="static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="static/lib/datatables/1.10.15/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
	// xmlhttp.open("POST","ajax_test.asp",true);
	// xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	// xmlhttp.send("fname=Bill&lname=Gates");

		var xmlhttp;
		xmlhttp = new XMLHttpRequest();

		xmlhttp.open("POST", "/guestinfo?t=" + Math.random(), false);
		xmlhttp.send();
		j = JSON.parse(xmlhttp.responseText);
		for (i = 0; i < j.length; i++) {
			//var e = document.createElement('tr');
			//e.setAttribute("class", "text-c");
			var food,bodybuild,vip;
			if (j[i]['bodybuild']==1)
			{
				bodybuild='是'
			}else{
				bodybuild='否'
			}
			if (j[i]['food']==1)
			{
				food='是'
			}else{
				food='否'
			}
			if (j[i]['vip']==1)
			{
				vip='是'
			}else{
				vip='否'
			}
			
			var listcontent = ["<tr class=\"text-c\">",
				"							<td>"+j[i]['id']+"</td>",
				"							<td>"+j[i]['name']+"</td>",
				"							<td>"+j[i]['sex']+"</td>",
				"							<td>"+j[i]['idcard']+"</td>",
				"							<td>"+j[i]['phone']+"</td>",
				"                           <td>"+bodybuild+"</td>",
				"                           <td>"+food+"</td>",
				"                           <td>"+vip+"</td>",
				"							<td class=\"f-14 td-manage\">",
				"								<a style=\"text-decoration:none\" class=\"ml-5\"",
				"									onClick=\"article_edit(\'资讯编辑\',\'article-add.html\',\'10001\')\" href=\"javascript:;\"",
				"									title=\"编辑\"><i class=\"Hui-iconfont\">&#xe6df;</i></a>",
				"								<a style=\"text-decoration:none\" class=\"ml-5\" onClick=\"article_del(this,\'10001\')\"",
				"									href=\"javascript:;\" title=\"删除\"><i class=\"Hui-iconfont\">&#xe6e2;</i></a></td>",
				"						</tr>"].join("");
			$('#text_main').append(listcontent);
			//document.getElementById("text_main").appendChild(e);
		}
		//document.getElementById("main_box").innerHTML = xmlhttp.responseText;

</script>
<script type="text/javascript">
	$('.table-sort').dataTable({
		"aaSorting": [[1, "desc"]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
			//{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
			{ "orderable": false, "aTargets": [0, 8] }// 不参与排序的列
		]
	});

	/*资讯-添加*/
	function article_add(title, url, w, h) {
		var index = layer.open({
			type: 2,
			title: title,
			content: url
		});
		layer.full(index);
	}
	/*资讯-编辑*/
	function article_edit(title, url, id, w, h) {
		var index = layer.open({
			type: 2,
			title: title,
			content: url
		});
		layer.full(index);
	}
	/*资讯-删除*/
	function article_del(obj, id) {
		layer.confirm('确认要删除吗？', function (index) {
			$.ajax({
				type: 'POST',
				url: '',
				dataType: 'json',
				success: function (data) {
					$(obj).parents("tr").remove();
					layer.msg('已删除!', { icon: 1, time: 1000 });
				},
				error: function (data) {
					console.log(data.msg);
				},
			});
		});
	}

	/*资讯-审核*/
	function article_shenhe(obj, id) {
		layer.confirm('审核文章？', {
			btn: ['通过', '不通过', '取消'],
			shade: false,
			closeBtn: 0
		},
			function () {
				$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
				$(obj).remove();
				layer.msg('已发布', { icon: 6, time: 1000 });
			},
			function () {
				$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
				$(obj).remove();
				layer.msg('未通过', { icon: 5, time: 1000 });
			});
	}
	/*资讯-下架*/
	function article_stop(obj, id) {
		layer.confirm('确认要下架吗？', function (index) {
			$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
			$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
			$(obj).remove();
			layer.msg('已下架!', { icon: 5, time: 1000 });
		});
	}

	/*资讯-发布*/
	function article_start(obj, id) {
		layer.confirm('确认要发布吗？', function (index) {
			$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
			$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
			$(obj).remove();
			layer.msg('已发布!', { icon: 6, time: 1000 });
		});
	}
	/*资讯-申请上线*/
	function article_shenqing(obj, id) {
		$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
		$(obj).parents("tr").find(".td-manage").html("");
		layer.msg('已提交申请，耐心等待审核!', { icon: 1, time: 2000 });
	}
</script>
{% endblock %}
<!--/请在上方写此页面业务相关的脚本-->