{% extends "login.html" %}
{% block body %}
    <div class="demo form-bg" style="padding: 20px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form class="form-horizontal" action="roomsearch" method="POST">
						<span class="heading">欢迎,{{user.username}},入住AI酒店</span>
						<a href="/orderlist?userid={{user.username}}">查询本账户所有订单</a>
						<span class="heading">请输入入住日期和退房日期：</span>
                        <div class="form-group">
                            <input type="date" name="startdate" class="form-control" id="inputEmail3" placeholder="入住日期">
                            
                        </div>
                        <div class="form-group help">
                            <input type="date" name="enddate" class="form-control" id="inputPassword3" placeholder="退房日期">
                            
                        </div>
                        <div class="form-group">

							<input type="text" name="username" value="{{user.username}}" style="display: none;">
                            <button type="submit" class="btn btn-default">查询</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}